@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  padding: 0;
  margin: 0;  
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: whitesmoke;
    background-image: url(img/background.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  overflow-x: hidden;
}
/*---------------------------- NAVBAR CSS -----------------------------------*/
.navbar-wrapper{
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-container-grid{
  width:80%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  background-color:#c75858;
  border-radius: 30px;
}

.navbar-container-grid .logo{
  height: auto;
  width: 80%;
  grid-column-start:1 1 ;
  text-align: start;
  margin-left: 50px;
}

.navbar-container-grid .navbar-menu{
  display: flex;
  align-items: center;
  height: 80%;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  grid-column-start:2 1 ;
  text-align: center;
  z-index: 99;
}
.navbar-list{
  padding: 0;
  margin:0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.toggle-button{
  position: absolute;
  right: 45%;
  flex-direction: column;
  top: 1,5%;
  display:none;
}
.navbar-container-grid .navbar-menu .navbar-button{
  text-decoration: none;
  width:auto;
  color: rgb(255, 255, 255);
  padding: 10px;
  white-space: nowrap;
  border-radius: 50px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
}
.contactmeh1{
  font-size: 30px;
}

.navbar-container-grid .contactme{
  height: 50%;
  width: 100%;
  grid-column-start:3 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  border-radius: 10px;
  background-color: rgb(23, 150, 209);
  padding: 10px;
  margin: 0px;
  white-space: nowrap;
  justify-self: flex-end;
  margin-right: -50px;
  -webkit-box-shadow: 18px 12px 25px -8px rgba(0,0,0,0.69); 
  box-shadow: 18px 12px 25px -8px rgba(0,0,0,0.69);
}
.navbar-list.active{
  background-color: transparent;
}
.navbar-button{
  border-radius: 10px;
}
.navbar-container-grid .navbar-menu .navbar-button:hover{
  border-style: none;
  transition: all 0.5s ease-in;
  background: linear-gradient(90deg, rgba(0,243,141,1) 0%, rgba(0,158,255,1) 100%);
  transform: scale(1.5);
}


@media only screen and (max-width: 979px){
  .navbar-wrapper{
    justify-content: center;
    align-items: center;
  }
  .navbar-container-grid{
    height:20px;
    width: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-container-grid .logo{
  display: none;
  }
  .navbar-container-grid .alogo{
    width: 50px;
    height: 50px;
  }

  .navbar-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    z-index: 1;
    display: none;
    transition:0.5s ease-in;

  }

  .navbar-list.active{
    width: 100%!important;
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;
  }

  .navbar-list li{
      width: auto;
      height: 80px!important;
      display: flex;
      justify-content: center;
      align-items: center;
      background:rgba(0, 0, 0, 0.5);
      padding-right: 20px;
      padding-left: 20px;
  }
  .upperli{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 15px;
  }
  .downli{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 15px;
  }
  .navbar-container-grid .navbar-menu{
    width: 100%;
  }
  .navbar-container-grid .navbar-menu .navbar-button{
    text-align: center;
    width: 100%;
    height: 60%;
    background: linear-gradient(90deg, rgba(0,243,141,1) 0%, rgba(0,158,255,1) 100%);
    border-style: none;
  }
  .toggle-button{
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
.navbar-container-grid .contactme{
  width: 20%;
  height: 60%;
  font-size: 20px;
  position: relative;
  box-shadow: 18px 18px 53px -16px rgba(0,0,0,0.83);
  display: none;
}
.navbar-container-grid .contactme h1{
  font-size: 20px;
  text-align: center;
  line-height: 15px;
}
}@media only screen and (max-width: 679px){
  .navbar-container-grid{
    width: 70%;
  }
}
@media only screen and (max-width: 450px){
  .navbar-list li{
    width: 100%;
  }
  .navbar-button{
    font-size: 25px!important;
    width: 100%;
    padding-bottom: 0px!important;
  }
  .navbar-container-grid{
    height: 20px;
  }
  .navbar-list.active{
    left:-15px;
  }
}


/*---------------------------- HERO SECTION -----------------------------------*/
.hero-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-wrapper .hero-box{
  width: 40%;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(img/hero-texture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0px 0px 178px 0px rgba(0,0,0,0.47);
  z-index: -1;
}
.hero-wrapper .hero-box .profilepic{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  bottom: 50px;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

@keyframes fadeInDown{
  from{opacity: 0;}
  to{opacity: 1;}
}
.hero-wrapper .hero-box h1{
  height:100%;
  width: auto;
  margin: 10px;
  text-align: center;
}
#down{
  width: 100px;
  position: relative;
  top: 40px;
}
@media only screen and (max-width: 979px){
  .hero-box{
   width: 60% !important;
   height: auto;
   margin-top: 5% !important;
  }
  #down{
    top: 40px;
  }
  .profilepic{
    margin-top: 10px;
    width: 60%;
  }
  .hero-box h1{
    text-align: center;
    width: auto;
    height: 100px;
    font-size: 35px;
  }
}
@media only screen and (max-width: 683px){
  .hero-box{
    width: 80% !important;
    height: auto;
    margin-top: 10% !important;
   }
   .profilepic{
    margin-top: 20px;
    width: 70%;
  }
   .hero-box h1{
    text-align: center;
    width: auto;
    height: 100px;
    font-size: 35px;
    margin-top: -30px!important;
  }
  #down{
    width: 80px;
    top: 20px;
  }
}
/*---------------------------- ACCORDION MENU -----------------------------------*/
.accordion-wrapper{
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accordion-wrapper .accordion-item{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accordion-wrapper .accordion-item .accordion-trigger{
  width: 50%;
  height:auto;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: pointer;
  transition:0.5s ease-in-out;
  backface-visibility: hidden;
  border-radius: 5px;
  border-width: 0.5px;
  box-shadow: 24px 26px 46px -15px rgba(0,0,0,0.9);


}
.triggerimg{
  height: auto;
  width:55px;
  margin-right: 2.5rem;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.aboutme-text{
  padding-top: 10px;
}
#trigger3{
  background-position: 50% 30%;
  
}
#person{
  grid-column-start: 1 1;
  
}
#aboutme{
  grid-column-start:2 1;
}
#plus{
  grid-column-start:3 1;
  transition: transform 0.8s ease-in-out;
}


.accordion-content{
  width: 90%;
  height: auto;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.50);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.accordion-wrapper .accordion-item .accordion-content .title{
  margin-left: 2%!important;
  margin-top:2%;
  margin-bottom:2%;
  height: auto;
  width: auto;
  
}

#text{
  text-align: left;
  margin: 20px;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  
}

.grid-skills{
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "html css javascript"
  "java react mysql";
  align-items: center;
}

.grid-item-skills{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.grid-item-skills h1{
  font-size: 45px;
  font-weight: 300;
}

#skill-icons{
  width: 50%;
  height: 150px;
}

.outer-skill{
  background-color: white;
  border-radius: 20px;
  width: 80%;
  height: 38px;
  display: flex;
  align-items: center;
}

.inner-skill{
  background-color: rgb(207, 68, 68);
  border-radius: 20px;
  margin-left: 2%;
  width: 20%;
  height: 90%;
}
#html{
  width: 90%;
}
#css{
  width: 86%;
}
#javascript{
  width: 59%;
}
#java{
  width: 70%;
}
#reactjs{
  width: 50%;
}
#sql{
  width: 50%;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
.grid-programs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.program-rows{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -55px;
}
.slider{
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.slides{
  width: 500%;
  height: 500px;
  display: flex;
  overflow: hidden;
}
.slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slide img{
  width: 300px;
  height: 300px;
}
/*css for manual slide navigation*/
.navigation-manual{
  position: absolute;
  width: 60%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background: #40D3DC;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 60%;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
.rows-programs{
  height: 100%;
  width:100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr;
  grid-template-areas: "first first"
  "second third";
  align-items: center;
  justify-items: center;
}

.program-rows{
  display: flex;
  align-items: center;
  justify-content: center;
}


#bigrow{
  grid-area: first;
}

#firstrow {
  grid-area: second;
  margin-bottom: 10px;
}
#secondrow {
  grid-area: third;
  margin-bottom: 10px;
}

.mySlides {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySlides img{
  width: 100%!important;
}

.active-slide {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  position: relative;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotdiv{
  position: relative;
  bottom: 50px;
}

.active, .dot:hover {
  background-color: #2d64ac;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#icon{
  height: 150px;
  width: 150px;
}

#portofolio{
  background-image: url(img/fast_working.svg);
  background-repeat: no-repeat;
  background-position: right;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.titler{
  width: 100%;
  height: auto;
}
.portofolio-content{
  width: 100%;
  height:400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-skills h1{
  font-size: 40px;
}
@media only screen and (max-width: 979px){
  .accordion-item{
    width: 100% !important
  }
  .accordion-content{
    width: 90%;
    height: 100%;
  }
  .accordion-content h1{
    font-size: 27px!important;
  }
  .accordion-trigger{
    width: 70%!important;
    height: 40px!important;
  }
  .dotdiv{
    position: relative;
    bottom: 40px;
  }
  .triggerimg{
    width: 35px;
    margin-right: 0px;
  }
  #aboutme,#skills,#portofolioo{
    font-size: 25px;
    white-space: nowrap;
  }
  #plus{
    width: 30px;
  }
  .grid-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "html css "
    "java javascript"
    "react mysql";
  }
  #skill-icons{
    width: 150px;
    height: 150px;
  }
  .grid-skills h1{
    font-size: 27px;
    font-weight: 300;
  }
  .outer-skill{
    height: 25px;
    width: 60%;
  }
  .title{
    font-weight: 400;
  }
  .skillsdiv{
    margin:30px 10px!important;
  }
  .program-rows{
    margin-bottom: -25px;
  }
  .program-rows img{
    width: 150px!important;
  }

  .program-rows .text{
    font-size: 30px;
  }
  .accordion-content .title{
    font-size: 40px;
    margin: 0;
  }
  .rows-programs{
    height: 100%;
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "first"
    "second"
    "third";
    align-items: center;
    justify-items: center;
  }
  .mySlides img{
    width: 100%!important;
  }
}
@media only screen and (max-width: 368px){
  .accordion-content{
    width: 90%;
  }
  .accordion-content h1{
    font-size: 20px!important;
  }
  .accordion-trigger{
    width: 80%!important;
  }
  .aboutme-text{
    font-size: 20px!important;
  }
  #titlerows{
    font-size: 30px;
  }
  #skill-icons{
    width: 80px;
    height: 80px;
  }
  .grid-skills h1{
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    text-align: center;
  }
  .outer-skill{
    height: 20px;
    width: 70%;
  }
  .grid-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "html css "
    "java javascript"
    "react mysql";
  }
  .title{
    font-size: 35px;
  }
  .mySlides{
    width: 100%;
  }
  .mySlides .text{
    font-size: 25px;
  }
  .mySlides img{
    width: 100%!important;
  }

  #figmaicon{
    height: 100px!important;
  }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
.contact-wrapper{
  height:100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.contactme-grid{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.contactme-item-trigger-box{
  grid-column-start: 1;
  width: 80%;
  width: 80%;
  display: grid;
  grid-template-areas: "topleft middle topright";
  justify-items: center;
  align-items: center;
}

.accordion-content-cotanctme{
  width: 60%;
  height: auto;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.50);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
.triggercontent{
  grid-area: middle;
  cursor: pointer;
}
#h1{
  font-size: 60px;
  letter-spacing: 2px;
  position: relative;
  bottom: 20px;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  grid-area: middle;
}
#icon-down{
  position: relative;
  top: 60px;
  right: 20px;
}
.cotanctme-content{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:space-between ;
  align-items: center;
  margin:20px 0px;
}
/*---------------------------------Contact Form Side(Left)-----------------------------------------*/
.contactme-form{
  width: 100%;
  height: 100%;
}
.form-content{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
}
.input100{
  border-radius: 10px;
  width: 90%;
  border-style: none;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
.form-name, .form-email,.form-msg{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
}
.form-msg{
  height:100px;
  align-items: flex-start;
}
.form-msg .input100{
  height: 100%;
}
.container-form-btn{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-btn{
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  height: auto;
  width: 30%;
  font-size: 40px;
  background: linear-gradient(90deg, rgba(0,243,141,1) 0%, rgba(0,158,255,1) 100%);
  border-style: none;
  color: #f2f2f2;
  cursor: pointer;
}
@media only screen and (max-width: 368px){
  .form-btn{
    width: 40%;
  }
  .form-title{
    font-size: 30px;
  }
}
/*---------------------------------Socia Media Side(Right)-----------------------------------------*/
.socialmedia{
  width: 100%;
  height: 100%;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialmedia .socialmedia-text{
  text-align: center;
  font-size: 40px;
}
.href{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg{
  width: 80px;
  height: 80px;
}
@media only screen and (max-width: 979px){
  .cotanctme-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin:20px 0px;
  }
  .accordion-content-cotanctme{
    width: 90%;
  }
  .socialmedia{
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social-icons{
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .contactme-form{
    order: 3;
  }
  .socialmedia .socialmedia-text{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
  }
  .contactme-item-trigger-box{
    width: 80%;
  }
  .contactme-item-trigger-box #svg{
    width: 200px;
  }
  .contactme-item-trigger-box #h1{
    font-size: 40px;
    top: -10px;
  }
  .contactme-item-trigger-box #icon-down{
    width: 50px;
    height: 50px;
    top: 40px;
  }
}
@media only screen and (max-width: 368px){
  .accordion-content-cotanctme{
    width: 90%;
  }
}
/*---------------------------------Facebook-------------*/
.backgroundfb{
  fill-opacity: 0;
}
.outlinefb{
  fill-opacity: 1;
}
.href:hover .outlinefb{
  transition: 1s ease-in-out;
  fill:white;
}
.href:hover .backgroundfb{
  transition: 0.5s ease-in-out;
  fill-opacity:1;
}
.delay-1{
  animation-delay: 0.5s;
}




.floating{
  float: left;
  animation-name: Floatingx;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.floatingg{
  float: left;
  animation-name: Floatingx;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes Floatingx{
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 15px);}
  to {-webkit-transform: translate(0, -0px);    }    
}
  


.scaling{
  float: left;
  animation-name: scalex;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
}
.scalingz{
  float: left;
  animation-name: scalex;
  animation-delay: 0.5s;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
}
.scalingzz{
  float: left;
  animation-name: scalex;
  animation-delay: 0.9s;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
}
  
  @keyframes scalex{
      from {-webkit-transform: scale(0.9);}
      65% {-webkit-transform: scale(1.0);}
      to {-webkit-transform: scale(0.9);}    
  }

.index-class{
  z-index: 0;
}